extends ../_layouts/base

include ../_modules/hero/hero
include ../_modules/card/card

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.excursiones

        +hero('/images/excursiones/hero.jpg', site.data.excursiones.heading, site.data.excursiones.subHeading)
        
        .container-fluid.-vertical-space
            .row
                .col-xs-24
                    ul.card-list
                        each item in site.data.excursiones.list
                            li
                                +card(item)
