.contact {
    h4{
        text-transform: uppercase;
        color:$darkBlue;
        margin: 0 0 $base/2;
    }

    ._data{
        margin-bottom: $base/2;

        @include breakpoint(md){
            margin-bottom: 0;
        };
    }

    ._block{
        padding: $base/2;
        margin-bottom: $base/2;

        @include breakpoint(sm){
            padding: $base;
            margin-bottom: $base;
        };

        dt,dd{
            float:left;
        }
        dt{
            clear: left;
            width:25px;
            color:$accentBlue;
        }
        dd{
            width:calc(100% - 25px);
        }
    }
}
