#lightbox.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    i.fa.fa-times-circle
            .modal-body
                //img._lightboxImg
                //iframe._lightboxVideo(allowfullscreen)
                
                #modal-slider
                    
                
                //- .modal-slider
                //-     ._slide
                //-         img._lightboxImg
                //-         iframe._lightboxVideo(allowfullscreen)
                //-         
                
